/* Importando a fonte 'Poppins' */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* formatando todos os elementos da página com a fonte */  
*{
    font-family: "Poppins";
}

.hr{
  width: 1200px;
  margin: auto;
  height: 15px;
}

.footer{
  background-color: black;
  height: 270px;
}

.info-footer{
  display: inline-block;
  vertical-align: top;
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
  padding-top: 25px;
}

.links{
  display: inline-block;
  vertical-align: top;
  padding-left: 600px;
  list-style: none;
  margin: auto;
  padding-top: 15px;
}

.contato{
  vertical-align: top;
  padding-left: 400px;
  display: inline-block;
  list-style: none;
  padding-top: 15px;
}

.img-cps{
  display: inline-block;
  padding-left: 80px;
}

.li-title{
  font-weight: 700;
}
